table {
    border-collapse: collapse;
    margin: 10px;
}

td {
    border: 1px solid;
    padding: 5px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #C0C0C0;
}

tr:nth-child(even) {
    background-color: #e9e8e8;
}

tr:hover {
    background-color: #ddd;
}
